body{
    background-color:beige;
    text-align:center;
    padding-right:5%;
    color:black;
    font-family:"urbana", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: 0.38s;
    font-size:20px;
}
h1{
    text-align:center;
    padding-right:5%;
    color:black;
    font-family:"urbana", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2{
    text-align:left;
    padding-left:40%;
    color:black;
    font-family:"urbana", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: 0.38s;
}
p{
    padding-left:40%;
    text-align:left;
    font-size: 20px;
    font-family: "urbana", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: 0.38s;
}
.white{
    color:whitesmoke;
    padding-left:40%;
    padding-top: 5%;
    padding-bottom:5%;
    text-align:left;
    font-size: 20px;
    font-family: "urbana", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: 0.38s;
}
footer{
    color:black;
    font-size: 15px;
    font-family: "urbana", sans-serif;
    font-weight: 300;
    font-style: normal;
}
p:hover, h2:hover{
    background-color: orange;
    padding-top:15px;
    padding-bottom:15px;
}
img{
    height:350px;
    width:auto;
    float: left;
    margin-top:1.5%;
    margin: 10px;
}
iframe{
    float:right;
}
#player{
    width:30%;
    padding-top:1%
}